.wrapper.col-md-6
  .product-tile.mgmt{ "data-price" => set_discount(@management_product_price) }
    %h4 Social Media Profile Management
    %p.description Select how many Social Media channels you would like managed per month. We will upload, hashtag & manage 15 of your posts each month, across your original content or media you've selected for us to create for you.
    %hr
    %h5 Select your channels:

    - @management_products.each do |product|
      .mgmt-product
        = form_for order_item(product.id), remote: true do |f|
          = f.hidden_field :product_id, value: product.id
          = label_tag "order_item_quantity_#{product.id}" do
            = fa_icon product.name.downcase
            = f.check_box :quantity, {id: "order_item_quantity_#{product.id}"}, 1, 0

    %hr
      .product-price= formatted_management_total_price
