- if order_plan?
  .product.heading
    %span.name= "#{@order.plan.name} Plan"
    %span.price= formatted_price_with_symbol(@order.plan.price)
  .clearfix

  %ul.plan-features
    - @order.plan.features.split(" | ").each do |item|
      %li.plan-feature
        %span.name= item

  .clearfix
  %hr
- else
  - if podcast_order_items.present?
    .product.heading
      %span.name Podcast Services
    .clearfix
    %hr
    .product
      %span.name
        = podcast_setup_product.name
        .small Each content or podcast piece requires significant hours in setup time, this cost ensures your production is set up correctly.
      %span.price
        = formatted_price_with_symbol(podcast_setup_product.price)
    .clearfix
    %hr
    - podcast_order_items.each do |order_item|
      .product
        %span.name= review_product(order_item)
        %span.price= review_product_price(order_item)
        %span.quantity= review_product_quantity(order_item)
      .clearfix
      %hr

  - if content_order_items.present?
    .product.heading
      %span.name Content Services
    .clearfix
    %hr
    .product
      %span.name
        = content_setup_product.name
        .small Each content or podcast piece requires significant hours in setup time, this cost ensures your production is set up correctly.
      %span.price
        = formatted_price_with_symbol(content_setup_product.price)
    .clearfix
    %hr
    - content_order_items.each do |order_item|
      .product
        %span.name= review_product(order_item)
        %span.price= review_product_price(order_item)
        %span.quantity= review_product_quantity(order_item)
      .clearfix
      %hr

- if management_order_items.present?
  .product.heading
    %span.name Mangement Services
  .clearfix
  %hr
  - management_order_items.each do |order_item|
    .product
      %span.name= review_product(order_item)
      %span.price= review_product_price(order_item)
    .clearfix
    %hr

- if distribution_order_items.present?
  .product.heading
    %span.name Distribution Services
  .clearfix
  %hr
  - distribution_order_items.each do |order_item|
    .product
      %span.name= review_product(order_item)
      %span.price= review_product_price(order_item)
      %span.quantity= review_product_quantity(order_item)
    .clearfix
    %hr

- if rss_distribution_order_item.try(:quantity) > 0 && @order.plan.try(:name) != "Content"
  .product.heading
    %span.name RSS Distribution Services
    %span.price= review_product_price(rss_distribution_order_item)
    %span.quantity= rss_distribution_order_item.quantity
  .clearfix
  %hr

- if @order.check_discount_code
  %span.discount-success Enjoy your 10% discount!
- else
  = form_for @order, remote: true do |f|
    = f.text_field :discount_code, class: (@order.discount_code.present? ? "form-control discount-wrong" : "form-control"), id: "discount-code", placeholder: "enter discount code"
%hr

.product.pricing
  %span.name Payment type
  %span.type #{ @order.subscription_type == 1 ? "Once off" : "Recurring (monthly)" }

.product.total
  %span.name Total
  %span.price= total_price
