#apps
  .col-md-4.col-sm-6.col-xs-12
    .app
      .app-icon
        = image_tag 'media/apps/custom.png', width: 30
      .app-body
        %h5 Custom Briefing
        -# %p Ut enim ad minim veniam, quis nostrud Excepteur sint occaecat cupidatat non proident, sunt quis nostrud exercitation ullamco laboris nisi ut aliquip.
      .clearfix
  .col-md-4.col-sm-6.col-xs-12
    .app
      .app-icon
        = image_tag 'media/apps/video_editing.png', width: 30
      .app-body
        %h5 Video Editing
        -# %p Pharetra convallis lectus varius iaculis lobortis mus potenti blandit parturient consequat.
      .clearfix
  .col-md-4.col-sm-6.col-xs-12
    .app
      .app-icon
        = image_tag 'media/apps/audio_engineering.png', width: 30
      .app-body
        %h5 Audio Engineering
        -# %p Hendrerit metus mi a pulvinar eu elementum lacus dictum nibh a a vestibulum vestibulum odio parturient luctus a ad.
      .clearfix
  .col-md-4.col-sm-6.col-xs-12
    .app
      .app-icon
        = image_tag 'media/apps/graphic_design.png', width: 30
      .app-body
        %h5 Graphic Design
        -# %p Et eget diam justo donec hac faucibus dui vestibulum dis per luctus gravida orci dictum quam phasellus maecenas.
      .clearfix
  .col-md-4.col-sm-6.col-xs-12
    .app
      .app-icon
        = image_tag 'media/apps/social_media.png', width: 30
      .app-body
        %h5 Social Media Management
        -# %p Nec a magnis duis volutpat potenti a pretium dictum et varius nostra malesuada cras nam augue felis vitae lacinia ullamcorper ullamcorper.
      .clearfix
  .col-md-4.col-sm-6.col-xs-12
    .app
      .app-icon
        = image_tag 'media/apps/content_media.png', width: 30
      .app-body
        %h5 Content Media Delivery
        -# %p Potenti justo nunc eu ultrices consequat quisque hendrerit maecenas imperdiet a risus consectetur in morbi.
      .clearfix
  -# .col-md-4.col-sm-6.col-xs-12
  -#   .app
  -#     .app-icon
  -#       = fa_icon "key"
  -#     .app-body
  -#       %h5 App heading
  -#       %p Condimentum malesuada non ac praesent montes in parturient a ullamcorper ullamcorper pretium a.
  -#     .clearfix
  -# .col-md-4.col-sm-6.col-xs-12
  -#   .app
  -#     .app-icon
  -#       = fa_icon "map"
  -#     .app-body
  -#       %h5 App heading
  -#       %p Molestie enim consequat magna dapibus suspendisse a torquent amet a vestibulum vel justo viverra ullamcorper.
  -#     .clearfix
  -# .col-md-4.col-sm-6.col-xs-12
  -#   .app
  -#     .app-icon
  -#       = fa_icon "trophy"
  -#     .app-body
  -#       %h5 App heading
  -#       %p Sit vel eu faucibus maecenas nunc non habitasse a ut morbi eget scelerisque ac nostra at a.
  -#     .clearfix
