%h1 Order information

- if order_plan?
  Plan: #{@order.plan.name}

%p Frequency: #{ @order.subscription_type == 1 ? "Once Off" : "Monthly" }
%p Total price: #{total_price}
%p Discount applied: #{@order.discount_code_applied ? "Yes" : "No"}

- if !order_plan?
  - if podcast_order_items.present?
    %h2 Podcast Services
    %ul
      %li= podcast_setup_product.name
      - podcast_order_items.each do |order_item|
        %li "#{ review_product(order_item) } * #{ review_product_quantity(order_item) }"

  - if content_order_items.present?
    %h2 Content Services
    %ul
      %li= content_setup_product.name
      - content_order_items.each do |order_item|
        %li "#{ review_product(order_item) } * #{ review_product_quantity(order_item) }"

  - if management_order_items.present?
    %h2 Mangement Services
    %ul
      - management_order_items.each do |order_item|
        %li "#{ review_product(order_item) }"

  - if distribution_order_items.present?
    %h2 Distribution Services
    %ul
      - distribution_order_items.each do |order_item|
        %li "#{ review_product(order_item) } * #{ review_product_quantity(order_item) }"

  - if rss_distribution_order_item.try(:quantity) > 0 && @order.plan.try(:name) != "Content"
    %h2 RSS Distribution Services
    %ul
      %li Quantity: #{ rss_distribution_order_item.quantity }

%h1 Brief info
%p Name: #{@brief_request.try(:name)}
%p Company: #{@brief_request.try(:company)}
%p Email: #{@brief_request.try(:email)}
%p Phone: #{@brief_request.try(:phone_number)}
%p Country: #{@brief_request.try(:country)}
%p Industry: #{@brief_request.try(:industry)}
%p Brief description: #{@brief_request.try(:brief_description)}
%p Design style: #{@brief_request.try(:design_style)}
%p Futher notes: #{@brief_request.try(:further_notes)}
